body {
	background: #00ff00; 
	font-family: 'Ubuntu', sans-serif;
}
h1{ color:blue;
}
h1{ font-size: 40px; 
}
h2{
	color:red;
}
img {
	display: block;
	height: 480px;
}
#title {
	background: red;
	width: 600px;
	padding-left: 10px;
	padding-bottom: 15px;
	border-radius: 5px;
} 

#main {
	background: yellow;
	width: 500px;
	padding: 15px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 5px;
}


 h2 {
 	padding: 5px;
 }